<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<applicationSettings>
		<Com.Wao.KDS.Settings>
			<setting name="ConnectionString" serializeAs="String">
				<value>Server=localhost; Port=5432; User Id=wao; Password=wao; Database=wao; CommandTimeout=300</value>
			</setting>
			<!-- 出力方法[OutputType] = 0:出力先[OutputDirectory]に出力,1:出力先指定 -->
			<!-- 出力先[OutputDirectory] = 未設定の場合はexe実行中のディレクトリ -->
			<!-- 口座振替請求データ作成 -->
			<setting name="WKDC020B_OutputType" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WKDC020B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
			<!-- 予定表還元データ作成 -->
			<setting name="WKDC030B_OutputType" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WKDC030B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
			<!-- コンビニ振込用紙作表データ作成 -->
			<setting name="WKDC040B_OutputType" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WKDC040B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
			<!-- オーナー向け口座振込データ作成 -->
			<setting name="WKDR040B_OutputType" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="WKDR040B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
			<!-- インストラクター向け口座振込データ作成 -->
			<setting name="WKDR050B_OutputType" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="WKDR050B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
			<!-- 総括表データ作成 -->
			<setting name="WKDR060B_OutputType" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WKDR060B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
			<!-- 振替結果通知書データ作成 -->
			<setting name="WKDR070B_OutputType" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WKDR070B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
			<!-- 法定調書作表データ作成 -->
			<setting name="WKDT010B_OutputType" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WKDT010B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
			<!-- 退職源泉徴収票作表データ作成 -->
			<setting name="WKDT020B_OutputType" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WKDT020B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
			<!-- 解約源泉徴収票作表データ作成 -->
			<setting name="WKDT030B_OutputType" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WKDT030B_OutputDirectory" serializeAs="String">
				<value></value>
			</setting>
		</Com.Wao.KDS.Settings>
	</applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
